* {
    padding: 0px;
    margin: 0px;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* SignUpForm */
.signUpForm {
    width: 50%;
    height: 900px;
    margin-right: -20px;
    background-color: #f7f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form1 {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 90%;
}
.formTop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.personalDetails {
    display: flex;
    margin: 10px 0;
}
.num1 {
    width: 80px;
    display: flex;
}
.num1::after {
    content: '';
    border-top: 1px solid;
    margin: 8.5px 2px 0 2px;
    flex: 1;
}
.language {
    width: 170px;
    height: 40px;
    padding: 10px;
}
.input-field {
  position: relative;
  line-height: 60px;
}
.labelFor {
    position: absolute;
    top: 0;
    left: 20px;
    width: 100%;
    color: #cbacac;
    transition: 0.2s all;
    cursor: text;
}
.inputSignup {
    width: 100%;
    height: 20px;
    font-size: 20px;
    padding: 20px 0px;
    border: 0 solid #d3d3d3;
    border-radius: 5px;
    box-shadow: none;
    color: #111;
}
.inputSignup:invalid {
    outline: 0;
}
.inputSignup:focus,
.inputSignup:valid {
    border-color: rgb(75, 75, 168);
}
.inputSignup:focus~label,
.inputSignup:valid~label {
    font-size: 12px;
    top: -20px;
    left: 5px;
    color: rgb(183, 183, 223);
}
.inputSignupTel {
    width: 438px;
    font-size: 20px;
    padding: 20px 0px;
    border: 0 solid #d3d3d3;
    border-radius: 5px;
    box-shadow: none;
    color: #111;
}
.labelForTel {
    position: absolute;
    font-size: 12px;
    top: -20px;
    left: 5px;
    color: rgb(183, 183, 223);
}
.inputSignupDate {
    width: 100%;
    height: 23px;
    font-size: 20px;
    padding: 20px 0px;
    border: 0 solid #d3d3d3;
    border-radius: 5px;
    box-shadow: none;
    color: #111;
}
.inputSignupDate:before {
    content: attr(data-date);
}
.inputSignupDate::-webkit-datetime-edit, .inputSignupDate::-webkit-inner-spin-button, .inputSignupDate::-webkit-clear-button {
    display: none;
}
.inputSignupDate::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 0;
    color: black;
    opacity: 1;
}
.labelForDate {
    position: absolute;
    font-size: 12px;
    top: -20px;
    left: 5px;
    color: rgb(183, 183, 223);
}
.input-Btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.submitBtn {
    background-color: #9898d9;
    border: 1px solid #9898d9;
    width: 250px;
    height: 50px;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}
.submitBtn:hover {
    background-color: rgb(91, 91, 212);
    border: rgb(91, 91, 212);
}
.linkLogo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 0px 0px 3px 0px;
    cursor: pointer;
}
.linkLogo:hover {
    box-shadow: 0px 0px 3px 1px;
    cursor: pointer;
}
.bottomLogin {
    width: 200px;
    display: flex;
}
.bottomLogin::before {
    content: '';
    border-top: 1px solid;
    margin: 8px 5px 0 0;
    flex: 1;
}
/* Middle */
.middle {
    border: 1px solid #d3d3d3;
    border-radius: 50px;
    background-color: white;
    width: 40px;
    height: 145px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middleFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.middleLine {
    width: 1px;
    height: 40px;
    margin-top: -1px;
    background-color: black;
}
/* Images */
.image {
    width: 50%;
    height: 900px;
    background: url('./assets/images/googlebackground.jpg') no-repeat;
    background-size: 100% 100%;
    z-index: 0;
    margin-left: -20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.powered {
    width: 100%;
    height: 300px;
    text-align: right;
}
.byGoogle {
    font-size: 13px;
    color: white;
    margin: 40px;
}
.logo {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgLogo {
    width: 230px;
    height: 230px;
    border-radius: 20px;
}
.bottom {
    color: white;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}
.bottomText {
    width: 370px;
    display: flex;
    align-items: flex-start;
}
.quotes {
    font-size: 60px;
    margin: 10px;
}
.bottomPara {
    line-height: 40px;
    font-size: 20px;
}
.maikeDavidson {
    width: 200px;
    color: yellow;
    display: flex;
}
.maikeDavidson::before {
    content: '';
    border-top: 1px solid yellow;
    margin: 8px 7px 0 5px;
    flex: 1;
}
.bottomDots1 {
    color: white;
}
.bottomDots2 {
    color: gray;
}
@media screen and (min-width: 2701px) and (max-width: 4000px) {
    /* Form */
    .inputSignupTel {
        width: 887px;
    }
    .checkBoxText {
        font-size: 20px;
    }
    .submitBtn {
        width: 400px;
        height: 80px;
        font-size: 24px;
    }
    .linkLogo {
        width: 80px;
        height: 80px;
    }
    /* Image */
    .imgLogo {
        width: 270px;
        height: 270px;
        border-radius: 20px;
    }
    .bottomText {
        width: 460px;
    }
    .quotes {
        font-size: 65px;
        margin: 0 15px;
    }
    .bottomPara {
        line-height: 40px;
        font-size: 28px;
    }
}
@media screen and (min-width: 2001px) and (max-width: 2700px) {
    /* Form */
    .inputSignupTel {
        width: 657px;
    }
    .checkBoxText {
        font-size: 18px;
    }
    .submitBtn {
        width: 340px;
        height: 75px;
        font-size: 22px;
    }
    .linkLogo {
        width: 75px;
        height: 75px;
    }
    /* Image */
    .imgLogo {
        width: 270px;
        height: 270px;
        border-radius: 20px;
    }
    .bottomText {
        width: 460px;
    }
    .quotes {
        font-size: 65px;
        margin: 0 15px;
    }
    .bottomPara {
        line-height: 40px;
        font-size: 28px;
    }
}
@media screen and (min-width: 1801px) and (max-width: 2000px) {
    /* Form */
    .inputSignupTel {
        width: 584px;
    }
    .checkBoxText {
        font-size: 18px;
    }
    .submitBtn {
        width: 290px;
        height: 70px;
        font-size: 20px;
    }
    .linkLogo {
        width: 70px;
        height: 70px;
    }
    /* Image */
    .imgLogo {
        width: 270px;
        height: 270px;
        border-radius: 20px;
    }
    .bottomText {
        width: 460px;
    }
    .quotes {
        font-size: 65px;
        margin: 0 15px;
    }
    .bottomPara {
        line-height: 40px;
        font-size: 28px;
    }
}
@media screen and (min-width: 1601px) and (max-width: 1800px) {
    /* Form */
    .inputSignupTel {
        width: 548px;
    }
    .checkBoxText {
        font-size: 17px;
    }
    .submitBtn {
        width: 270px;
        height: 60px;
        font-size: 18px;
    }
    .linkLogo {
        width: 60px;
        height: 60px;
    }
    /* Image */
    .imgLogo {
        width: 240px;
        height: 240px;
        border-radius: 20px;
    }
    .bottomText {
        width: 410px;
    }
    .quotes {
        font-size: 65px;
        margin: 10px;
    }
    .bottomPara {
        line-height: 43px;
        font-size: 23px;
    }
}
@media screen and (min-width: 1401px) and (max-width: 1600px) {
    /* Form */
    .inputSignupTel {
        width: 487px;
    }
    .checkBoxText {
        font-size: 16px;
    }
    .submitBtn {
        width: 270px;
        height: 60px;
        font-size: 18px;
    }
    .linkLogo {
        width: 60px;
        height: 60px;
    }
    /* Image */
    .imgLogo {
        width: 220px;
        height: 220px;
        border-radius: 20px;
    }
    .bottomText {
        width: 390px;
    }
    .quotes {
        font-size: 65px;
        margin: 10px;
    }
    .bottomPara {
        line-height: 43px;
        font-size: 23px;
    }
}
@media screen and (min-width: 1301px) and (max-width: 1400px) {
    /* Form */
    .inputSignupTel {
        width: 438px;
    }
    .checkBoxText {
        font-size: 13px;
    }
    /* Image */
    .imgLogo {
        width: 200px;
        height: 200px;
        border-radius: 20px;
    }
}
@media screen and (min-width: 1201px) and (max-width: 1300px) {
    /* Form */
    .inputSignupTel {
        width: 400px;
    }
    .submitBtn {
        width: 210px;
    }
    /* Image */
    .imgLogo {
        width: 200px;
        height: 200px;
        border-radius: 20px;
    }
}
@media screen and (min-width: 1001px) and (max-width: 1200px) {
    /* Form */
    .inputSignupTel {
        width: 350px;
    }
    .submitBtn {
        width: 190px;
    }
    /* Image */
    .imgLogo {
        width: 200px;
        height: 200px;
        border-radius: 20px;
    }
}
@media screen and (min-width: 801px) and (max-width: 1000px) {
    /* Form */
    .inputSignupTel {
        width: 300px;
    }
    .submitBtn {
        width: 140px;
        height: 40px;
        font-size: 9px;
    }
    .linkLogo {
        width: 40px;
        height: 40px;
    }
    /* Image */
    .imgLogo {
        width: 200px;
        height: 200px;
        border-radius: 20px;
    }
}
@media screen and (max-width: 800px) {
    /* Form */
    .inputSignupTel {
        width: 200px;
    }
    .submitBtn {
        width: 130px;
        height: 30px;
        font-size: 8px;
    }
    .linkLogo {
        width: 30px;
        height: 30px;
    }
    /* Image */
    .imgLogo {
        width: 180px;
        height: 180px;
        border-radius: 20px;
    }
}